{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-10">
      <div class="card card-body">
        <form action="/update/{{licence.номер_пп}}" method="POST">
          <div class="form-group">
            <input type="text" name="наименование_ПО" value="{{licence.наименование_ПО}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="вендор" value="{{licence.вендор}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="date" name="начало_действия_лицензии" value="{{licence.начало_действия_лицензии}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="date" name="окончание_действия_лицензии" value="{{licence.окончание_действия_лицензии}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" name="срок_полезного_использования_мес" value="{{licence.срок_полезного_использования}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" name="стоимость_за_единицу" value="{{licence.стоимость_за_единицу}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" name="итоговая_стоимость" value="{{licence.итоговая_стоимость}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="заказчик_ПО" value="{{licence.заказчик_ПО}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="признак_ПО" value="{{licence.признак_ПО}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" name="количество_ПО" value="{{licence.количество_ПО}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="тип_ПО" value="{{licence.тип_ПО}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Обновить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
