/* Created on 25.06.2024 15:53:39 */

//static/css/style.css
body {
  background-color: #435165;
  margin: 0;
  color: #000000;
}
 
.login-box
 {
  height: 50%;
  width: 30%;
  border: 1px solid grey;
  margin-left: 35%;
  margin-top: 10%;
  position: relative;
       box-shadow: 21px 12px 24px 10px rgba(0, 0, 0, .5);
       background: #dadada;
 }
 .login-header
 {
  text-align: center;
  font-family: "lucida console", monospace;
  font-size: 35px;
  background: linear-gradient(to bottom, #00bfff 0%, #5b6d7c 100%);
  color:#fff;
  position: relative;
       box-shadow: 1px 3px 14px  rgba(0, 0, 0, .5);
 }
 .login-body
 {
  padding: 20px;
  line-height: 2;
 }
.msg {
color: #721c24;
   background-color: #f8d7da;
   border-color: #f5c6cb;
padding: .75rem 1.25rem;
   margin-bottom: 1rem;
   border: 1px solid transparent;
   border-radius: .25rem;
}  
.main{
 margin-top:50px;
}
 
h1.title { 
font-size: 50px;
font-family: 'lucida console', monospace; 
font-weight: 400; 
}
 
hr{
width: 10%;
color: #fff;
}
 
.form-group{
margin-bottom: 15px;
}
 
label{
margin-bottom: 15px;
}
 
input,
input::-webkit-input-placeholder {
   font-size: 11px;
   padding-top: 3px;
}
 
.main-login{
 background-color: #fff;
   /* shadows and rounded borders */
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 
}
.form-control {
   height: auto!important;
padding: 8px 12px !important;
}
.input-group {
   -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
   -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
   box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
.main-center{
 margin-top: 30px;
 margin: 0 auto;
 max-width: 500px;
   padding: 10px 40px;
background:#5b6d7c;
    color: #FFF;
   text-shadow: none;
-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
 
}
span.input-group-addon i {
   color: #fff;
   font-size: 17px;padding:10px;
}
 
.login-button{
margin-top: 5px;
text-align: center;
display: flex;
justify-content: center;
}
 
.login-register{
font-size: 11px;
text-align: center;
}

#main {
    background-color: #eee;
    position: relative;
    z-index: 1001;
    width: 100%;
  }
 .container {
    display: flex;
}

.main-content {
    flex: 3; /* 75% ширины */
    padding: 20px;
}

.sidebar {
    flex: 1; /* 25% ширины */
    background-color: #f4f4f4; /* Цвет фона для боковой панели */
    padding: 20px;
}
.site-header {
  background-color: #FFFFFF;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  padding: 15px; 
  position: relative; 
  top: 0; 
  z-index: 100; 
  left: 0; 
}

.site-header a { 
color:#000000;
width: 100%;
}

#stickyContent {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #E0461B;
  }
.no-padding {
       padding: 0 !important;
}
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
.dropdown {
	display: inline-block;
  position: relative;
  font-family: arial; 
  color: #000000;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  font-family: arial;
  background-color: #eee;
  font-weight: bold;
}

.dropdown:hover .dropdown-options {
  display: block;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: arial; 
}

nav li {
  display: inline-block;
  margin-right: 20px;
  font-family: arial; 
}

nav a { 
  text-decoration: none;
  color: green;
}

nav a:hover {
  color: #007bff;  
}

.category-wrap {
  padding: 30px;
  background: white;
  width: 200px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.1);
  font-family: 'lucida console', monospace; 
}

.category-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  border-top: 1px solid rgba(0,0,0,.3);
}
.category-wrap li {margin: 12px 0 0 0px;}
.category-wrap a {
  text-decoration: none;
  display: block;  
  font-size: 13px;
  color: #000000;
  padding: 5px;
  position: relative;
  transition: .3s linear;
}
.category-wrap a:after {
  font-family: FontAwesome;
  position: absolute;
  right: 5px;
  color: white;
  transition: .2s linear;
}
.category-wrap a:hover {
  background: green;
  color: white;
}

.menu {
	width: 100%;
	display: table;
}
.menu ul {
	display: table-row;
}
.menu li {
	display: table-cell;
}
.menu ul li:hover, .menu a:hover {
	background: green;
 color: white;
}
.menu li a {
	display: block;
	padding: 0px 20px;
	color: #000000;
	text-align: center;
}

.navbar{
  padding: 0px;
  margin: auto;
  margin-top: 60px;
  list-style-type: none;
  width: 200px;
  position: relative;
}

.navbar li{
  height: 70px;
  width: 450px;
  font-weight: bold;
  background: #eee;
  position: relative;
  z-index: 1;
}

.navbar ul{
  visibility: hidden;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  position:absolute;
  left:100%;
  top:0;
  width:100%;
  opacity:0;
  transition: transform 0.4s, opacity 0.4s;
  transform: translateY(-60px);
}
.navbar a{
  font-family: arial;
  line-height: 60px;
  display: block;
  height: 100%;
  transition: margin-left 0.2s;
  text-decoration: none;
  color: #000;
  margin-left: 20px;
}
.navbar li:hover > a{
  margin-left: 25px;
  color: #fff;
}
.navbar li:hover > ul{
   opacity: 1;
   transform: translateX(0px);
   visibility: visible;
}

.navbar li:hover{
  background: green;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.side-dropdown {
  position:relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: black;
  z-index: 1;
}

.side-dropdown:hover .dropdown-content{
  display: block;
}

