{% extends 'layout.html' %}
{% block title %}Добавление количества лицензий{% endblock %}
{% block content %}
<div class="col-md-4">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">x</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card card-body">
      <form action="{{url_for('add_number')}}" method="POST">
        <div class="form-group">
          <input type="number" class="form-control" name="номер_заявки" placeholder="Номер заявки">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="наименование_ПО" placeholder="Наименование ПО">
        </div>
        <div class="form-group">
          <select class="form-control" name="тип_лицензии">
            <option value="Сетевая">Сетевая</option>
            <option value="Локальная">Локальная</option>
            <option value="Условно-бесплатная">Условно-бесплатная</option>
          </select>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="количество_лицензий_ПО" placeholder="Количество лицензий ПО">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="примечание" placeholder="Примечание">
        </div>
        <button class="btn btn-primary btn-block">
          Сохранить
        </button>
      </form>
    </div>
  </div>
{% endblock %}