{% extends 'layout.html' %}
  
{% block title %}Справочник заказчиков ПО{% endblock %}
  
{% block content %}
    <div class="row"><h3>Справочник заказчиков ПО</h3></div>
<div class="btn-toolbar" role="toolbar">
  <form action="{{ url_for('show_customer') }}" method="POST">
      <button type="submit" class="btn btn-success btn-sm mr-2" aria-pressed="true">Новая запись</button>
  </form>
  <form method="POST" action="{{url_for ('delete_all_customer') }}">
    <button type="submit" class="bntn btn-secondary btn-sm mr-2" aria-pressed="true">Удалить все записи</button>
  </form>
</div>
<form method="POST" action="/delete_customer">
  <div align="right" class="padding:10px;">
    {% with messages = get_flashed_messages() %}
          {% if messages %}
         {% for message in messages %}
         <div class="alert alert-danger" role="alert">
         {{ message }}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">x</span>
         </button>
         </div>
         {% endfor %}
         {% endif %}
        {% endwith %}
      <input type="submit" class="btn btn-primary" value="Удалить выбранные значения" aria-pressed="true">
    </div>
    <table id="customer_table" table class="table table-bordered" style="width:70%">
      <thead>
        <tr>
          <th>Заказчик ПО</th>
          <th>Описание заказчика</th>
          <th>Ссылка на сайт заказчика</th>
          <th>Примечание</th>
          <th>Панель управления</th>
        </tr>
      </thead>
      <tbody>
        {% for row in list_customer %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td width="130">
            <a href="/edit_customer/{{row[0]}}" class="btn btn-secondary btn-sm" aria-pressed="true">Редактировать</a>
            <input type="checkbox" name="add_customer_checkbox" value="{{row[0]}}">
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
        <script>
    $(document).ready(function(){
        $('#customer_table').DataTable({
      "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
      "iDisplayLength": -1
      }
     );
     });
    </script>
</form>
<a href="{{url_for('download_customer_report')}}">Сгенерировать справочник заказчиков</a>
<form action="{{url_for('upload_customer') }}" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" accept=".xlsx">
    <button type="submit">Загрузить файл</button>
  </input>
</form>
{% endblock %}
