{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-10">
      <div class="card card-body">
        <form action="/update_licence/{{lice.код_лицензии}}" method="POST">
          <div class="form-group">
            <input type="text" name="наименование_лицензии" value="{{lice.наименование_лицензии}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="тип_лицензии" value="{{lice.тип_лицензии}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" name="счёт_списания" value="{{lice.счёт_списания}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Обновить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}