{% extends 'editor_layout.html' %}
  
{% block title %}Реестр установленного ПО{% endblock %}
  
{% block content %}
<div class="row"><h3>Реестр установленного ПО</h3></div>
<div class="row">
  <div class="col-md-10">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">x</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  <div class="col-md-8">
    <table id="install_table" table class="table table-striped table-bordered" style="width:70%">
      <thead>
        <tr>
          <th>Код установки</th>
          <th>Наименование ПО</th>
          <th>Тип лицензии</th>
          <th>Чекбокс установлено ли ПО</th>
          <th>Число установленных лицензий</th>
          <th>Дата установки ПО</th>
          <th>Чекбокс условно-бесплатное ПО</th>
          <th>Примечание</th>
        </tr>
      </thead>
      <tbody>
        {% for row in list_installation %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td>{{row[4]}}</td>
          <td>{{row[5]}}</td>
          <td>{{row[6]}}</td>
          <td>{{row[7]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
        <script>
    $(document).ready(function(){
        $('#install_table').DataTable({
      "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
      "iDisplayLength": -1
      }
     );
    });
    </script>
  </div>
</div>
<a href="{{url_for('download_software_install_report')}}">Сгенерировать журнал установки ПО</a>
</div>
{% endblock %}
