{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-12">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card card-body">
        <form action="/update_number/{{number.номер_заявки}}" method="POST">
          <div class="form-group">
            <label for="наименование_ПО"><b>Наименование ПО:</b></label>
            <input type="text" name="наименование_ПО" value="{{number.наименование_ПО}}" class="form-control">
          </div>
          <div class="form-group">
            <label for="тип_лицензии"><b>Тип лицензии:</b></label>
            <select class="form-control" name="тип_лицензии">
              <option value="Сетевая">Сетевая</option>
              <option value="Локальная">Локальная</option>
              <option value="Условно-бесплатная">Условно-бесплатная</option>
            </select>
          </div>
          <div class="form-group">
            <label for="количество_лицензий_ПО"><b>Количество лицензий ПО:</b></label>
            <input type="number" name="количество_лицензий_ПО" value="{{number.количество_лицензий_ПО}}" class="form-control">
          </div>
          <div class="form-group">
            <label for="примечание"><b>Примечание:</b></label>
            <input type="text" name="примечание" value="{{number.примечание}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Обновить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
