{% extends 'editor_layout.html' %}
{% block title %}Справочник контрагентов{% endblock %}
{% block content %}
<div class="col-md-4">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">x</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card card-body">
      <form action="{{url_for('editor_add_partner')}}" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="наименование_контрагента" placeholder="Наименование контрагента">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="краткое_наименование_предприятия" placeholder="Краткое наименование предприятия">
        </div>
        <div class="form-group"> 
          <input type="text" class="form-control" name="полное_наименование_предприятия" placeholder="Полное наименование предприятия">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="ИНН" placeholder="ИНН">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="КПП" placeholder="КПП">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="юридический_адрес" placeholder="Юридический адрес">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="фактический_адрес" placeholder="Фактический адрес">
        </div>
        <div class="form-group">
          <input type"number" class="form-control" name="ОКПО" placeholder="ОКПО">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="ОГРН" placeholder="ОГРН">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="телефон" placeholder="телефон">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="email" placeholder="email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="ссылка_на_сайт_контрагента" placeholder="Ссылка на сайт контрагента">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="примечание" placeholder="Примечание">
        </div>
        <button class="btn btn-primary btn-block">
          Сохранить
        </button>
      </form>
    </div>
  </div>
{% endblock %}