{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-10">
      <div class="card card-body">
        <form action="/update_partner/{{partner.код_контрагента}}" method="POST">
          <div class="form-group">
            <input type="text" name="наименование_контрагента" value="{{partner.наименование_контрагента}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="договор" value="{{partner.договор}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="примечание" value="{{partner.примечание}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Обновить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
