{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-10">
      <div class="card card-body">
        <form action="/update_software/{{software.код_ПО}}" method="POST">
          <div class="form-group">
            <input type="text" name="наименование_ПО" value="{{software.наименование_ПО}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="описание_ПО" value="{{software.описание_ПО}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="url" name="ссылка_на_сайт_ПО" value="{{software.ссылка_на_сайт_ПО}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="вендор" value="{{software.вендор}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" name="стоимость_за_единицу" value="{{software.стоимость_за_единицу}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="признак_ПО" value="{{software.признак_ПО}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="примечание" value="{{software.примечание}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Обновить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
