{% extends 'layout.html' %} 

{% block title %}Домашняя страница{% endblock %} 

{% block content %} 
<div class="container"> 
    <div class="main-content"> 
        <div class="row"><h2>Добро пожаловать, {{ username }}!</h2></div> 
        <div class="row"><h3>Реестр лицензий ПО</h3></div> 
        <div class="btn-toolbar" role="toolbar"> 
            <form action="{{ url_for('show_licence') }}" method="POST"> 
                <button type="submit" class="btn btn-success btn-sm mr-2" aria-pressed="true">Новая запись</button> 
            </form> 
            <form method="POST" action="{{ url_for('delete_all_info') }}"> 
                <button type="submit" class="btn btn-secondary btn-sm mr-2" aria-pressed="true">Удалить все записи</button> 
            </form> 
        </div> 

        <form method="POST" action="/delete"> 
            <div class="table-responsive"> 
                <div align="right" style="padding:10px;"> 
                    {% with messages = get_flashed_messages() %} 
                        {% if messages %} 
                            {% for message in messages %} 
                                <div class="alert alert-danger" role="alert"> 
                                    {{ message }} 
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                        <span aria-hidden="true">x</span> 
                                    </button> 
                                </div> 
                            {% endfor %} 
                        {% endif %} 
                    {% endwith %} 
                    <input type="submit" value="Удалить выбранные значения" class="btn btn-primary" aria-pressed="true"> 
                </div> 

                <table id="example" class="table table-bordered" style="width:65%"> 
                    <thead> 
                        <tr> 
                            <th>Наименование ПО</th> 
                            <th>Контрагент</th> 
                            <th>Дата начала списания</th> 
                            <th>Дата окончания списания</th> 
                            <th>Срок полезного использования (мес)</th> 
                            <th>Стоимость ПО (всего) без НДС</th> 
                            <th>Количество</th> 
                            <th>Стоимость ПО (всего) с НДС</th> 
                            <th>Признак ПО</th> 
                            <th>Страна производитель</th> 
                            <th>Срок действия лицензии</th> 
                            <th>Оплачено</th> 
                            <th>Остаток</th> 
                            <th>Примечание</th> 
                            <th>Код</th> 
                            <th>Панель управления</th> 
                        </tr> 
                    </thead> 
                    <tbody> 
                        {% for row in list_licences %} 
                        <tr> 
                            <td>{{row[0]}}</td> 
                            <td>{{row[1]}}</td> 
                            <td>{{row[2]}}</td> 
                            <td>{{row[3]}}</td> 
                            <td>{{row[4]}}</td> 
                            <td>{{row[5]}}</td> 
                            <td>{{row[6]}}</td> 
                            <td>{{row[7]}}</td> 
                            <td>{{row[8]}}</td> 
                            <td>{{row[9]}}</td> 
                            <td>{{row[10]}}</td> 
                            <td>{{row[11]}}</td> 
                            <td>{{row[12]}}</td> 
                            <td>{{row[13]}}</td> 
                            <td>{{row[14]}}</td>                         
                            <td width="70"> 
                                <a href="/edit/{{row[14]}}" class="btn btn-secondary btn-sm" aria-pressed="true">Редактировать</a>
                                <input type="checkbox" name="delete_checkbox" value="{{row[14]}}"> 
                            </td> 
                        </tr> 
                        {% endfor %} 
                    </tbody> 
                </table>
            </div>
        </form>
    </div>

    <!-- Блок с фильтрами -->
    <div class="sidebar"> 
        <h2>Фильтры</h2>
        <form action="{{url_for('submit')}}" method="POST">
          <div>
            <label for="наименование_ПО">Наименование</label>
            <input type="text" id="наименование_ПО" name="наименование_ПО">
          </div>
          <div>
            <label for="контрагент">Контрагент</label>
            <input type="text" id="контрагент" name="контрагент">
          </div>
          <div>
            <label for="дата_начала_списания">Дата начала списания</label>
            <input type="date" id="дата_начала_списания" name="дата_начала_списания">
          </div>
          <div>
            <label for="дата_окончания_списания">Дата окончания списания</label>
            <input type="date" id="дата_окончания_списания" name="дата_окончания_списания">
          </div>
          <div>
            <label for="признак_ПО">Тип ПО</label>
            <input type="text" name="признак_ПО" id="признак_ПО">
          <div>
            <label for="страна_производитель">Страна-производитель</label>
            <input type="text" id="страна_производитель" name="страна_производитель">
          </div>
          <div>
            <label for="код">Код</label>
            <input type="text" id="код" name="код">
          </div>
          <button class="submit">Обновить информацию</button>
        </form>
    </div>
</div>

<a href="{{url_for('download_report')}}">Сгенерировать отчет в Excel</a>
<form action="{{url_for('upload_data')}}" method="POST" enctype="multipart/form-data"> 
    <input type="file" name="file" accept=".xlsx"> 
    <button type="submit">Отправить файл</button>
</form>
{% endblock %}