{% extends 'support_layout.html' %}
  
{% block title %}Справочник заказчиков ПО{% endblock %}
  
{% block content %}
<div class="row"><h3>Справочник заказчиков ПО</h3></div>
  <div class="col-md-8">
    <table id="customer_table" table class="table table-striped table-bordered" style="width:70%">
      <thead>
        <tr>
          <th>Заказчик ПО</th>
          <th>Описание заказчика</th>
          <th>Ссылка на сайт заказчика</th>
          <th>Примечание</th>
        </tr>
      </thead>
      <tbody>
        {% for row in list_customer %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
        <script>
    $(document).ready(function(){
        $('#customer_table').DataTable({
      "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
      "iDisplayLength": -1
      }
     );
     });
    </script>
  </div>
<a href="{{url_for('download_customer_report')}}">Сгенерировать справочник заказчиков</a>
</div>
</div>
{% endblock %}
