<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проверка OTP</title>
</head>
<body>
    <h1>Проверка OTP</h1>
    <p>Введите OTP, который вы получили на почту:</p>

    <form method="POST" action="/validate">
        <input type="hidden" name="email" value="{{ email }}">
        <input type="text" name="otp" placeholder="OTP">
        <button type="submit">Проверить</button>
    </form>

    {% if error %}
        <h3>{{ error }}</h3>
    {% endif %}
</body>
</html>
